<benchmark>
        <class>Test.MultiplyRandom</class>	<!-- the mainclass that contains main method -->
        <method>main</method>	<!-- the entry point method (change it if not main) -->
        <processdir>
                <dir>./multiplyrandom</dir>	<!-- directory which contains config.xml and lib -->
        </processdir>
        <includes>	<!-- based on the imports in the program, if some packages have to be analyzed -->
                <inc>Test</inc>
                <inc>mikera</inc>
        </includes>
        <lib>./multiplyrandom/lib</lib>	<!-- lib folder location -->
        <jre>/usr/java/jdk1.8.0_131/jre/lib</jre>	<!-- jre location, basically this location needs to contain rt.jar and jce.jar -->
        <jars>
				<jar>MultiplyRandom.jar</jar>
				<jar>Vectorz.jar</jar>	<!-- program jar file containing all class files to be analyzed -->      
        </jars>
</benchmark>