<benchmark>
        <class>JGFEulerBenchSizeA</class>	<!-- the mainclass that contains main method -->
        <method>main</method>	<!-- the entry point method (change it if not main) -->
        <processdir>
                <dir>./euler</dir>	<!-- directory which contains config.xml and lib -->
        </processdir>
        <includes>
                <inc>jgfutil</inc>	<!-- based on the imports in the program, if some packages have to be analyzed -->
                <inc>euler</inc>
        </includes>
        <lib>./euler/lib</lib>	<!-- lib folder location -->
        <jre>/usr/java/jdk1.6.0_45/jre/lib</jre>	<!-- jre location, basically this location needs to contain rt.jar and jce.jar -->
        <jars>
                <jar>JG.jar</jar>	<!-- program jar file containing all class files to be analyzed -->
                <jar>jomp.jar</jar>
        </jars>
</benchmark>